<!-- ==================================================
     HEADER
================================================== -->

<header class="header">

    <!-- 상단 영역 -->
    <div class="header-top">
        <div class="header-top-inner">
            <div class="header-top-empty"></div>
            <div class="utility-menu">
                <a href="login.html" id="loginLink">로그인</a>
                <span>|</span>
                <span id="signupArea">
                    <a href="signup.html" id="signupLink">
                        회원가입
                    </a>
                    <span>|</span>
                </span>
                <a href="#">ENGLISH</a>
                <!-- 검색 -->
                <div class="search-box">
                    <input
                        type="text"
                        placeholder="검색"
                    >
                    <button type="button">🔍</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 메인 메뉴 -->
    <div class="header-main">

        <!-- 로고 -->
        <div class="logo">

            <a href="main.html">
                BASEBOT
            </a>

        </div>


        <!-- 네비게이션 -->
        <nav class="main-nav">

            <a href="community.html">
                커뮤니티
            </a>

            <a href="#">
                경기 예측
            </a>

            <a href="#">
                경기 결과
            </a>

            <a href="#">
                팀 정보
            </a>

        </nav>

    </div>

</header>